$bg-control : #ddd;
$bg-control--hover : #ccc;

.drag-target {

  @include span(full);
  padding : 1em;
  margin-top : 1em;
  background: $bg-control;
  cursor: pointer;
  text-align: center;

  &.drag-target--hover,
  &:hover {
    background : $bg-control--hover;
  }

}
